<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Moodle Exam</span>
    <span class="right-spacer"></span>
    <!-- {{isLoggedIn |json}} -->
    <!-- {{username | json}} -->
    <a *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button class="example-icon mr10 ml10"
        aria-label="Example icon-button with heart icon">
        Login
    </a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="example-icon mr10 ml10"
        aria-label="Example icon-button with share icon">
        Register
    </a>
    <a *ngIf="isLoggedIn" routerLink="/admin-dashboard/profile" mat-icon-button class="example-icon mr10 ml10"
        aria-label="Example icon-button with share icon">
        {{username}}
    </a>
    <a (click)="logout()" *ngIf="isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="example-icon mr10 ml10"
        aria-label="Example icon-button with share icon">
        Logout
    </a>
    <a [routerLink]="'/'" mat-icon-button class="example-icon mr10 ml10"
        aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
    </a>
</mat-toolbar>